.card {
  background: #ffffff;
  border: 1px solid rgba(231, 235, 237, 0.80141);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
  position: relative;
}

.card .selected-icon {
  position: absolute;
  right: -7px;
  top: -7px;
}

.card-image {
  margin-bottom: 0.7rem;
}

.card .divider {
  width: 1px;
  margin: 0 1rem;
  height: 35px;
  background: #dedede;
}

.card.selected {
  box-shadow: 0 0 0 2px #2196f3;
}
