.s10.card-container {
  display: flex;
  overflow: auto;
  width: 100vw;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
}

.s10 .col > .card {
  padding: 1.25rem !important;
  margin: 0.5rem 0.25rem;
  width: unset !important;
  min-height: 16vh;
  flex-direction: row;
}

.s10 .col > .card > img {
  max-width: 33vw;
  margin: 0 !important;
}
