.s10.card-container {
  display: flex;
  overflow: auto;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
}

.s10 .col:first-child {
  margin-left: auto;
}

.s10 .col:last-child {
  margin-right: auto;
}

.s10 .col > .card {
  padding: 1.25rem !important;
  margin: 0.5rem 0.25rem;
  width: unset !important;
  height: 6.5rem;
  flex-direction: row;
}

.s10 .col > .card > .card-image {
  width: 100%;
  min-width: 7.8rem;
  max-width: 11rem;
  margin: 0 !important;
}
